form{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    > div{
        flex-basis: 40%;
        display: flex;
        background-color: darkslateblue;
        padding: 20px 40px;
        align-items: center;
        > label{
            flex-basis: 20%;
            color: white;
            font-size: large;
            font-weight: bold;
        }
        > input{
            flex-basis: 80%;
        }
    };
}
.input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .input{
    width: 100%;
    background-color: white;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: 2px solid white;
    border-radius: 4px;
  }
  
  .button-last{
    justify-content: flex-end;
  }
  button {
    background-color: lightseagreen;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.disable-button{
    background-color: lightslategray;
    pointer-events: none;
}
.invalid-input{
    border: 2px solid red;
}
.display{
    font-weight: bold;
    font-size: large;
    font-style: italic;
    color: maroon;
}