<div *ngIf="displayMessageFlag">
    <p class="display">User already exists</p>
</div>
<form [formGroup]="userForm" (ngSubmit)="submit()">
    <div>
        <label for="firstName">First Name &nbsp;</label>
        <input id="firstName" class="input" type="text" formControlName="firstName" placeholder="Enter First Name" [class.invalid-input]="!userForm?.get('firstName')?.valid && !userForm?.get('firstName')?.pristine">
    </div>
    <div>
        <label for="lastName">Last Name &nbsp;</label>
        <input id="lastName" class="input" type="text" [class.invalid-input]="!userForm?.get('lastName')?.valid && !userForm?.get('lastName')?.pristine" formControlName="lastName" placeholder="Enter Last Name">
    </div>
    <div>
        <label for="age">Age &nbsp;</label>
        <input id="age" class="input" type="text" [class.invalid-input]="!userForm?.get('age')?.valid && !userForm?.get('age')?.pristine" formControlName="age" placeholder="Enter Age">
    </div>
    <div>
        <label for="email">Email &nbsp;</label>
        <input id="email" class="input" type="text" [class.invalid-input]="!userForm?.get('email')?.valid && !userForm?.get('email')?.pristine" formControlName="email" placeholder="Enter Email">
    </div>
    <div>
        <label for="address">Address &nbsp;</label>
        <input id="address" class="input" type="text" formControlName="address" [class.invalid-input]="!userForm?.get('address')?.valid && !userForm?.get('address')?.pristine" placeholder="Enter Address">
    </div>
    <div>
        <label for="city">City &nbsp;</label>
        <input id="city" class="input" type="text" [class.invalid-input]="!userForm?.get('city')?.valid && !userForm?.get('city')?.pristine" formControlName="city" placeholder="Enter City">
    </div>
    <div>
    </div>
    <div class="button-last"><button type="submit" [class.disable-button]="!userForm?.valid">Submit</button>
    </div>
</form>